.DS_Store
*.swp
*.d
*.o
*.a
*.dSYM
*.so
*.so.*
*.exe
*.dll
*.dylib
*.class
*.jar
*.pyc
*.egg-info
*.tgz
*.tar.gz
*.github.io
_*.diff

bindings/python/dist/
bindings/python/src/
bindings/python/Pipfile
bindings/python/README
bindings/python/PKG-INFO
bindings/python/PKG-INFO.src
build*/
samples/sample
_sample*.txt
tmp
MANIFEST
